@import url(./reset.css);

body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
  margin-top: 100px;
}

.current-date-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  font-size: 3rem;
}

.current-date-box p {
  margin-top: 30px;
}

.current-month {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

th {
  width: 60px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

td {
  width: 60px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.calendar-box {
  display: flex;
  justify-content: space-evenly;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#left-arrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3rem;
}

#right-arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3rem;
}

#left-arrow:hover {
  cursor: pointer;
}

#right-arrow:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
