@import url(reset.css);

body {
  font-size: 14px;
}

.nav-container {
  height: 60px;
}

.nav-container-left {
  display: flex;
  float:left;
  width: 50%;
  height: 60px;
  align-items: center;
}

.nav-container-right {
  display: flex;
  float: right;
  width: 50%;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
}

.nav-container-right img {
  width: 20px;
}



#info-link {
  margin: 0 5px 0 20px;
  padding: 5px;
}

#store-link {
  margin: 0 5px;
  padding: 5px;
}

#gmail-link {
  margin: 0 15px 0 0;
}

#image-link {
  margin: 0 30px 0 0;
}

#menu-button {
  margin: 0 35px 0 0;
}

#my-profile {
  margin: 0 15px 0 0;
}