@import url(reset.css);

body {
  font-size: 14px;
}

/* navigation bar css */
.nav-container {
  display: flex;
  height: 60px;
  align-items: center;
}

.nav-container-left {
  display: flex;
  flex: none;
  width: 125px;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
}

.nav-container-right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  justify-content: space-between;
  width: 185px;
  align-items: center;
}

.image-link {
  margin-right: 10px;
}

.menu-button img {
  width: 18px;
}

.profile-button img {
  width: 33px;
  border-radius: 50%;
}

/* main section css */

.logo-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 290px;
}

.logo-box img {
  width: 272px;
}

.search-box {
  text-align: center;
}

.search-box input {
  width: 582px;
  height: 44px;
}

.empty-box {
  height: 300px;
}